
.circle-container {
    position: absolute;
    left: 50%;
    top: 50%;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #3498db;
    border-radius: 50%;
    border: 2px solid #adadad;
}
.circle:hover::after {
    content: attr(data-label);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(1%, -50%);
    background-color: rgba(52, 152, 219, 0.8);
    color: #ffffff;
    padding: 5px 5px;
}