/* styles.css */

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
  text-align: center;
}

#question-container {
  margin-bottom: 20px;
}

#visualization-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;
}

#visualization-container img {
  width: 200px;
  height: auto;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

#visualization-container img:hover {
  transform: scale(1.1);
}

#toggleButton, #revealAnswerButton {
  cursor: pointer;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease-in-out;
}

#revealAnswerButton {
  display: none;
}

#revealAnswerButton.show {
  display: inline-block;
}

#toggleButton:hover, #revealAnswerButton:hover {
  background-color: #2980b9;
}

#answer-container {
  display: none;
  margin-bottom: 20px;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
}

#answer-container h2 {
  color: #2c3e50;
}
